<robot name="miiboo">
  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>

  <link name="base_footprint"/>

  <!-- base_link -->
  <link name="base_link"/>
  <joint name="base_link_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 0.065" rpy="0 0 0.0" />
  </joint>

  <!-- laser -->
  <link name="base_laser_link"/>
  <joint name="base_laser_link_joint" type="fixed">
    <origin xyz="0.08 0.00 0.065" rpy="0 0 0.0" />
    <parent link="base_footprint" />
    <child link="base_laser_link" />
  </joint>

  <!-- imu of hi219 -->
  <link name="imu_link"/>
  <joint name="imu_link_joint" type="fixed">
    <origin xyz="-0.035 0.00 0.065" rpy="0 0 0" />
    <parent link="base_footprint" />
    <child link="imu_link" />
  </joint>
</robot>
